# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
.pytest_cache/
.cache/

# Environments
venv/
ENV/
env/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Test reports and logs
reports/
*.log
screenshot*.png
video*.webm
trace.zip
